<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Hello reeee!!</h2>
        <h2>Content goes here </h2>
        @* Content pages will be rendered here  *@
        @RenderBody()
    </div>
</body>
</html>
